@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
    --color-brand-dark: #0b0f1a;
    --color-brand-card: #161b2b;
    --color-brand-primary: #0066ff;
    --color-brand-accent: #00C2FF;

    @keyframes fade-in {
        from { opacity: 0, transform: translateY(20px)}
        to { opacity: 1, transform: translateY(0)}
    }

    --animate-fade-in: fade-in 0.8s ease-out forwards;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    font-family: var(--font-main);
    @apply bg-brand-dark text-white selection:bg-brand-primary/30 selection:text-white antialiased overflow-x-hidden;
  }

  h1, h2, h3, h4, h5, h6, .font-black {
    font-family: var(--font-display);
    @apply tracking-tighter;
  }

  [id] {
    scroll-margin-top: 6rem;
  }

  ::-webkit-scrollbar {
    @apply w-2.5;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-brand-dark;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full border-2 border-brand-dark transition-colors;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-brand-primary;
  }
}

@layer components {
  .section-padding {
    @apply py-16 md:py-24 lg:py-32;
  }
}